html{
  color: #222222;
  background-color: #AABB55;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
h1{
  font-size: 1.44em;
  line-height: 1.728em;
}
h2{
  font-size: 1.2em;
  line-height: 1.728em;
}
p,
ul{
  padding-bottom: 1em;
}
li{
  padding-bottom: 0.5em;
}
li:last-child{
  padding-bottom: 0;
}
p:last-child{
  padding-bottom: 0em;
}
